<section id="home" [ngStyle]="{backgroundImage:'url(assets/images/home-background.jpg)'}" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container aos-init aos-animate" data-aos="fade-in">
        <h1 class="mt-3">Abolish Cars <span style="color: #5383f2">*</span></h1>
        <p><span style="color: #5383f2">*</span><span style="color: #acb7d0"> Reduce our dependency on personal automobile use</span></p>
            <!-- <span class="typed"></span></p> -->
    </div>
</section>
