<section
  id="home"
  class="d-flex flex-column justify-content-center align-items-center"
>
  <div class="hero-container aos-init aos-animate" data-aos="fade-in">
    <div class="row" style="height: 100vh">
      <div class="col-md-6" style="padding: 0">
        <img
          src="../../assets/images/houston.jpeg"
          style="height: 100vh; width: 100%; object-fit: cover"
        />
        <div class="text-overlay">
          <h1 style="font-size: 2.5rem">
            It's time to reduce our dependency on personal automobiles.
          </h1>
          <button
            type="button"
            class="btn btn-primary why-button"
            onclick="window.location.href='#why'"
          >
            Why?
          </button>
        </div>
      </div>
      <div class="col-md-6 right-header-column hide-small">
        <h1 class="mt-3">
          It's time to reduce our dependency on personal automobiles.
        </h1>
        <a href="#why"><h1 style="text-decoration: underline">Why?</h1></a>
      </div>
    </div>
    <!-- <span class="typed"></span></p> -->
  </div>
</section>

<div class="row body-row" id="why">
  <div class="col-md-12 text-column">
    We all deserve a safe, convenient way to move around, but...
  </div>
</div>

<div class="row body-row">
  <div class="col-md-5 image-column">
    <img src="../../assets/images/car-crash.png" class="photo" />
    <span class="source">
      <a
        href="https://www.cdc.gov/injury/features/global-road-safety/index.html"
        target="_blank"
        >source</a
      >
    </span>
  </div>
  <div class="col-md-7 text-column">
    Let's start with the basics:
    <br /><br />
    Cars <strong>kill 1.3 million people</strong> every year and are a leading
    cause of death in the US.
  </div>
</div>

<div class="row body-row">
  <div class="col-md-6 text-column">
    They are the <strong>#1 killer of children</strong> in most nations
    <br />
    <br />
    ...except in the US where gun deaths are #1... yikes
  </div>
  <div class="col-md-6 image-column">
    <img src="../../assets/images/cause-of-death.png" class="photo" />
    <span class="source">
      <a
        href="https://www.kff.org/global-health-policy/issue-brief/child-and-teen-firearm-mortality-in-the-u-s-and-peer-countries/"
        target="_blank"
        >source</a
      >
    </span>
  </div>
</div>

<!-- <div class="row body-row">
  <div class="col-md-7 image-column">
    <img src="../../assets/images/road-rage.png" class="photo" />
    <span class="source">
      <a
        href="https://getjerry.com/studies/road-rage-shootings-soar-as-new-laws-put-more-guns-in-cars#temperatures-rising"
        target="_blank"
        >source</a
      >
    </span>
  </div>
  <div class="col-md-5 text-column">
    And of those gun deaths, many result from road rage (and it's on the rise)
  </div>
</div> -->

<div class="row body-row">
  <div class="col-md-12 text-column" style="text-align: center">
    Cars are the single <strong>deadliest</strong> way to get around.
    <br /><br />
    If you drive the airport and make it there alive, congratulations, you've
    made it past the most dangerous part of your journey.
    <img src="../../assets/images/death-rates.png" class="photo" />
    <span class="source">
      Passenger deaths per 1 billion passenger miles, 2000 to 2009:
      <a
        href="https://www.washingtonpost.com/news/wonk/wp/2015/05/14/the-safest-and-deadliest-ways-to-travel/"
        target="_blank"
        >source</a
      >
    </span>
  </div>
</div>

<div class="row body-row">
  <div class="col-md-12 text-column">But hey, maybe you feel safe enough.</div>
</div>

<div class="row body-row">
  <div class="col-md-12 text-column">
    and you haven't killed anyone with <i>your</i> car, right?
  </div>
</div>

<div class="row body-row">
  <div class="col-md-12 text-column"><i>Right?</i> 🤨</div>
</div>

<div class="row body-row">
  <div class="col-md-12 text-column">
    So how bad could it really be? What if we drive safely?
  </div>
</div>

<div class="row body-row">
  <div class="col-md-5 text-column">
    Well, personal cars are the <strong>#1 cause of pollution</strong> from
    transportation.
  </div>
  <div class="col-md-7 image-column">
    <img src="../../assets/images/pollution.png" class="photo" />
    <span class="source">
      <a
        href="https://www.epa.gov/greenvehicles/fast-facts-transportation-greenhouse-gas-emissions"
        target="_blank"
        >source</a
      >
    </span>
  </div>
</div>

<div class="row body-row">
  <div class="col-md-6 image-column">
    <img src="../../assets/images/particles.png" class="photo" />
    <span class="source">
      <a
        href="https://health.howstuffworks.com/wellness/when-it-comes-to-air-pollution-tiniest-particles-might-be-worst.htm"
        target="_blank"
        >source</a
      >
    </span>
  </div>
  <div class="col-md-6 text-column">
    Ultrafine particles and toxic emissions from vehicles make it a
    <strong>health hazard</strong> to be near roadways.
  </div>
</div>

<div class="row body-row">
  <div class="col-md-12 text-column">
    Cars also take up a lot of space.<br /><br />Like, a <i>lot</i> of space.
  </div>
</div>

<div class="row body-row">
  <div class="col-md-6 text-column">
    There up to <strong>8 parking spots</strong> for every car in the US.
    <br /><br />
    In Los Angeles, there is more space dedicated to
    <strong>car parking</strong> than <strong>housing.</strong>
  </div>
  <div class="col-md-6 image-column">
    <img src="../../assets/images/parking.jpeg" class="photo" />
    <span class="source">
      <a
        href="https://www.theguardian.com/us-news/2022/dec/26/us-cities-parking-lots-climate-walkability"
        target="_blank"
        >source</a
      >
    </span>
  </div>
</div>

<div class="row body-row">
  <div class="col-md-7 image-column">
    <img src="../../assets/images/milwaukee.png" class="photo" />
    <span class="source">
      <a href="https://www.instagram.com/p/CmcBrI-OF9_/?hl=en" target="_blank"
        >source</a
      >
    </span>
  </div>
  <div class="col-md-5 text-column" style="font-size: 3rem">
    And all this has <strong>destroyed our cities</strong>.
  </div>
</div>

<div class="row body-row">
  <div class="col-md-12 text-column">
    Ok, so you care about the environment, but you need some way to get around,
    right?
  </div>
</div>

<div class="row body-row">
  <div class="col-md-12 text-column">
    Hate to break it to you, but car dependency is actually making your commute
    <i>worse</i>.
  </div>
</div>

<div class="row body-row">
  <div class="col-md-12 text-column" style="text-align: center">
    Cars have the <strong>lowest throughput</strong> of any mode of
    transportation.
    <br />
    <br />
    <img src="../../assets/images/mobility-rates.jpeg" class="photo" />
    <span class="source">
      <a
        href="https://usa.streetsblog.org/2016/05/10/how-can-cities-move-more-people-without-wider-streets-hint-not-with-cars/"
        target="_blank"
        >source</a
      >
    </span>
  </div>
</div>

<div class="row body-row">
  <div class="col-md-7 image-column">
    <img src="../../assets/images/road-rage.png" class="photo" />
    <span class="source">
      <a
        href="https://getjerry.com/studies/road-rage-shootings-soar-as-new-laws-put-more-guns-in-cars#temperatures-rising"
        target="_blank"
        >source</a
      >
    </span>
  </div>
  <div class="col-md-5 text-column">
    And in the US, there are hundreds of murders each year are induced by "road
    rage."
  </div>
</div>

<div class="row body-row">
  <div class="col-md-12 text-column">
    It's time to take back space for people, not cars.
  </div>
</div>

<section
  id="go"
  class="d-flex flex-column justify-content-center align-items-center"
  style="color: white"
>
  <div class="hero-container aos-init aos-animate" data-aos="fade-in">
    <div class="row" style="height: 100vh; background: black">
      <div class="col-md-6" style="padding: 0">
        <img
          src="../../assets/images/walkable.jpeg"
          style="height: 100vh; width: 100%; object-fit: cover"
        />
      </div>
      <div class="col-md-6" class="right-header-column">
        <h1>Ways to help:</h1>
        <h3><strong>1. Join these great alt-transit organizations</strong></h3>
        <p>
          <a target="_blank" href="https://www.transalt.org/"
            >Transportation Alternatives (TransAlt)</a
          >
          – a non-profit focused on building space for people
        </p>
        <p>
          <a target="_blank" href="https://ridersalliance.org/"
            >Riders Alliance</a
          >
          – a pro public transit advocacy non-profit
        </p>

        <h3><strong>2. Learn more about the anti-car movement</strong></h3>
        <p>
          <a target="_blank" href="https://reddit.com/r/fuckcars"
            >Reddit r/fuckcars</a
          >
          – subreddit for discussing the effects of car culture
        </p>
        <p>
          <a target="_blank" href="https://www.youtube.com/c/notjustbikes"
            >Not Just Bikes</a
          >
          – YouTube channel talking about the hidden effects of cars on urban
          space
        </p>
        <p>
          <a
            target="_blank"
            href="https://www.instagram.com/cars.destroyed.our.cities/?hl=en"
            >Cars Destroyed Our Cities</a
          >
          – Instagram account that shows how cars razed great American cities
          to the ground
        </p>
        <p>
          <a target="_blank" href="https://www.segregationbydesign.com/"
            >Segregation by Design</a
          >
          – chronicling how car infrastructure wiped out underrepresented
          communities
        </p>
        <p>
          <a target="_blank" href="https://thewaroncars.org/"
            >The War on Cars</a
          >
          – podcast about how to take our cities back from cars
        </p>
        <p>
          <a target="_blank" href="https://twitter.com/betterstreetsai"
            >AI-Generated Street Transformations</a
          >
          – fun Twitter account to see what streets would look like if designed
          for people
        </p>
        <h3><strong>3. Go ride a bike</strong></h3>
        <p>
          <a href="#go">There's no link here, just go already.</a>
        </p>
      </div>
    </div>
    <!-- <span class="typed"></span></p> -->
  </div>
</section>
